header {
    text-align: center;
}

header > a {
    display: block;
}

header > a img {
    width: 40px;
    display: block;
    margin: 0 auto;
}

header h1 {
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: 64px;
    font-weight: 700;
}
